<a href="https://colab.research.google.com/github/kanika0216/python-Basics/blob/main/Data_Types_and_structures.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

                                     ***THEORY***

1. What are data structures, and why are they important?
-Data structures are organized ways to store, manage, and retrieve data efficiently, such as arrays, lists, stacks, queues, trees, and graphs.

They are important because they enable efficient data processing, optimize memory usage, and improve the performance of algorithms by providing the right tools for solving specific problems.

2. Explain the difference between mutable and immutable data types with examples?
- Mutable data types can be changed after they are created, meaning their content can be modified without changing their identity. Example - list

Immutable data types, on the other hand, cannot be changed after creation. Any operation that seems to modify them actually creates a new object.Example- tuples

3. What are the main differences between lists and tuples in Python?
- Main differnece between lists and tuples :

Mutability: Lists are mutable (modifiable), while tuples are immutable (cannot be changed).

Syntax: Lists use [], tuples use ().

4. Describe how dictionaries store data.
- A dictionary in Python stores data as key-value pairs using a hash table under the hood. Each key is hashed to generate a unique index for fast retrieval.

5. Why might you use a set instead of a list in Python?
- We might use a set instead of list because of its:
a) Uniqueness: Ensures all elements are unique.
b) Faster Lookups: Membership checks are faster.
c) Mathematical Operations: Supports union, intersection, and difference.
d)Order Doesn't Matter: Ideal when order is unimportant.

6. What is a string in Python, and how is it different from a list?

- A string in Python is a sequence of characters enclosed in quotes (e.g., "hello").

Differences from a List:Data Type: Strings store characters, while lists can store elements of any data type.
Mutability: Strings are immutable, whereas lists are mutable.
Operations: Strings support text-specific methods (e.g., .upper()), while lists support general operations like adding or removing items.
Element Type: Strings always consist of characters, while lists can mix types.

7. How do tuples ensure data integrity in Python?

- Tuples ensure data integrity by being immutable, meaning their contents cannot be modified after creation. This prevents accidental changes, allows them to be used as dictionary keys or set elements, and ensures consistent, unchangeable data.

8. What is a hash table, and how does it relate to dictionaries in Python?

- A hash table is a data structure that stores data in key-value pairs, using a hash function to map each key to a unique index where its value is stored.

In Python dictionaries, a hash table is used internally to provide fast lookups, insertions, and deletions by hashing the keys. This allows for O(1) average time complexity for these operations. The key's hash determines where the corresponding value is stored.

9. Can lists contain different data types in Python?

- Yes, lists in Python can contain elements of different data types, such as integers, strings, floats, or even other lists.

Example:
my_list = [1, "hello", 3.14, [2, 3]]

10. Explain why strings are immutable in Python.

- Strings are immutable in Python to ensure data integrity, memory efficiency, and performance. Since strings are often used in many places, making them immutable allows for safe sharing of string data without the risk of accidental modification, and it enables Python to optimize memory usage by reusing the same string object when needed.

11. What advantages do dictionaries offer over lists for certain tasks?

- Dictionaries offer several advantages over lists for certain tasks:

Fast lookups: Dictionaries allow for O(1) average time complexity for accessing values by keys, while lists require O(n) to search through elements.

Key-value pairing: Dictionaries store data as key-value pairs, which is useful for mapping relationships or when the data needs to be accessed by a specific identifier.

Unordered: Dictionaries are more flexible in terms of adding or removing elements based on keys, whereas lists are more suited for ordered collections.

Prevention of duplicates: Keys in dictionaries are unique, automatically preventing duplicates, while lists can have multiple occurrences of the same value.

12. Describe a scenario where using a tuple would be preferable over a list.

- A tuple is preferable over a list when you need an immutable collection of items. For example, storing the RGB values of a color

13. How do sets handle duplicate values in Python?

- In Python, sets automatically remove duplicate values. When you add an item to a set, it only keeps unique elements. If you try to add a duplicate, it will be ignored.

14. How does the “in” keyword work differently for lists and dictionaries?



*   For lists, the in keyword checks if a specific value exists in the list.
*   For dictionaries, the in keyword checks if a key exists in the dictionary, not the value.

15. Can you modify the elements of a tuple? Explain why or why not?

- No, you cannot modify the elements of a tuple because tuples are immutable. Once a tuple is created, its elements cannot be changed, added, or removed. This immutability ensures that the data remains constant and safe from accidental modification.

16. What is a nested dictionary, and give an example of its use case.

-A nested dictionary is a dictionary where the values are themselves dictionaries. It allows you to store complex, hierarchical data structures.

Example use case: Storing information about multiple employees in an organization, where each employee has a dictionary of personal details.

17. Describe the time complexity of accessing elements in a dictionary.

- The time complexity of accessing elements in a dictionary is O(1) on average. This means that retrieving a value by its key is done in constant time, regardless of the size of the dictionary, due to the underlying hash table structure. However, in rare cases (e.g., hash collisions), the time complexity could be higher, but it is generally considered O(1).

18. In what situations are lists preferred over dictionaries?

- Lists are preferred over dictionaries in situations where:

Order matters: Lists maintain the order of elements, while dictionaries do not.
Index-based access: If you need to access elements by a specific index rather than a key.
When storing simple collections: Lists are better for ordered, homogenous data where key-value mapping is unnecessary, like a sequence of items.

19. Why are dictionaries considered unordered, and how does that affect data retrieval?

-Dictionaries are considered unordered because, prior to Python 3.7, the order of key-value pairs is not guaranteed. Even in Python 3.7 and later, dictionaries maintain insertion order, but they are still conceptually unordered since the primary focus is on key-value mapping, not order.

This affects data retrieval because, unlike lists, the order of elements isn't predictable unless you specifically sort or iterate through the dictionary. However, retrieving data by key remains fast (O(1) average time complexity).

20. Explain the difference between a list and a dictionary in terms of data retrieval.

- The main difference between a list and a dictionary in terms of data retrieval is:

a) List: Data is retrieved by its index (position), which is an integer.
Dictionary: Data is retrieved by its key, which can be of various data types (e.g., strings, integers).

b) In short, lists use numeric indices, while dictionaries use unique keys to access values.

          ***PRACTICAL***

1. Write a code to create a string with your name and print it.

In [ ]:
name = "ChatGPT"
print(name)

ChatGPT

2. Write a code to find the length of the string "Hello World".

In [ ]:
text = "Hello World"
length = len(text)
print(length)

11

3. Write a code to slice the first 3 characters from the string "Python Programming".

In [ ]:
text = "Python Programming"
sliced_text = text[:3]
print(sliced_text)

Pyt

4. Write a code to convert the string "hello" to uppercase.

In [ ]:
text = "hello"
uppercase_text = text.upper()
print(uppercase_text)

HELLO

5. Write a code to replace the word "apple" with "orange" in the string "I like apple".

In [ ]:
text = "My name is kanika"
modified_text = text.replace("kanika", "kanak")
print(modified_text)

My name is kanak

6. Write a code to create a list with numbers 1 to 5 and print it.

In [ ]:
numbers = [1, 2, 3, 4, 5]
print(numbers)

[1, 2, 3, 4, 5]

7. Write a code to append the number 10 to the list [1, 2, 3, 4].

In [ ]:
numbers = [1, 2, 3, 4]
numbers.append(10)
print(numbers)

[1, 2, 3, 4, 10]

8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

In [8]:
numbers = [1, 2, 3, 4, 5]
numbers.remove(3)
print(numbers)

[1, 2, 4, 5]

9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'].

In [9]:
letters = ['a', 'b', 'c', 'd']
second_element = letters[1]
print(second_element)

b

10. Write a code to reverse the list [10, 20, 30, 40, 50].

In [10]:
numbers = [10, 20, 30, 40, 50]
numbers.reverse()
print(numbers)

[50, 40, 30, 20, 10]

11. Write a code to create a tuple with the elements 10, 20, 30 and print it.

In [11]:
my_tuple = (10, 20, 30)
print(my_tuple)

(10, 20, 30)

12. Write a code to *access* the first element of the tuple ('apple', 'banana', 'cherry').

In [12]:

fruits = ('apple', 'banana', 'cherry')
first_element = fruits[0]
print(first_element)

apple

13. Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2).

In [13]:
numbers = (1, 2, 3, 2, 4, 2)
count_of_2 = numbers.count(2)
print(count_of_2)

3

14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [14]:
animals = ('dog', 'cat', 'rabbit')
index_of_cat = animals.index('cat')
print(index_of_cat)

1

15. Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana').

In [ ]:
animals = ('dog', 'cat', 'rabbit')
index_of_cat = animals.index('cat')
print(index_of_cat)

16. Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it.

In [15]:

my_set = {1, 2, 3, 4, 5}
print(my_set)

{1, 2, 3, 4, 5}

17. Write a code to add the element 6 to the set {1, 2, 3, 4}.

In [16]:

my_set = {1, 2, 3, 4}
my_set.add(6)
print(my_set)

{1, 2, 3, 4, 6}

18. Write a code to create a tuple with the elements 10, 20, 30 and print it.

In [17]:

my_tuple = (10, 20, 30)
print(my_tuple)

(10, 20, 30)

19. Write a code to access the first element of the tuple ('apple', 'banana', 'cherry').

In [18]:
first_element = fruits[0]
print(first_element)

apple

20. Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2).

In [ ]:
numbers = (1, 2, 3, 2, 4, 2)
count_of_2 = numbers.count(2)
print(count_of_2)

21. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [19]:
animals = ('dog', 'cat', 'rabbit')
index_of_cat = animals.index('cat')
print(index_of_cat)

1

22. Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana').

In [20]:
fruits = ('apple', 'orange', 'banana')
if 'banana' in fruits:
    print("Banana is in the tuple.")
else:
    print("Banana is not in the tuple.")

Banana is in the tuple.

23. Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it.

In [21]:
my_set = {1, 2, 3, 4, 5}
print(my_set)

{1, 2, 3, 4, 5}

24. Write a code to add the element 6 to the set {1, 2, 3, 4}.

In [22]:
my_set = {1, 2, 3, 4}
my_set.add(6)
print(my_set)

{1, 2, 3, 4, 6}