<a href="https://colab.research.google.com/github/kanika0216/python-Basics/blob/main/SQL_Basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Que 1: Create a table called employees with the specified constraints

In [ ]:
CREATE TABLE employees (
    emp_id INT PRIMARY KEY NOT NULL,
    emp_name TEXT NOT NULL,
    age INT CHECK (age >= 18),
    email TEXT UNIQUE,
    salary DECIMAL DEFAULT 30000
);

Que 2: Explain the purpose of constraints and how they help maintain data integrity

Ans:
Constraints ensure the accuracy and reliability of data in a table. They restrict the type of data that can be stored.
Examples:

*PRIMARY KEY ensures uniqueness.

*NOT NULL prevents missing values.

*UNIQUE ensures no duplicate entries.

*CHECK ensures valid data range.

*FOREIGN KEY maintains referential integrity between tables.

Que 3: Why use NOT NULL and can a primary key contain NULL?

Ans:
NOT NULL ensures that a column must have a value. A PRIMARY KEY cannot contain NULL because it must uniquely identify each row, and NULL means unknown or missing.

Que 4: Add or remove constraints on an existing table

Ans:
To add a constraint:
ALTER TABLE employees ADD CONSTRAINT check_age CHECK (age >= 18);

To remove a constraint (name must be known):
ALTER TABLE employees DROP CONSTRAINT check_age;

Que 5: Consequences of constraint violations with example

Ans:
If constraints are violated, the database throws an error and rejects the operation.

Example:

Trying to insert a NULL in a NOT NULL column will throw:
ERROR: null value in column "emp_name" violates not-null constraint

Que 6: Alter products table to add constraints

In [ ]:
ALTER TABLE products ADD PRIMARY KEY (product_id);
ALTER TABLE products ALTER COLUMN price SET DEFAULT 50.00;

Que 7: INNER JOIN to get student_name and class_name

In [ ]:
SELECT s.student_name, c.class_name
FROM students s
INNER JOIN classes c ON s.class_id = c.class_id;

Que 8: Show all order_id, customer_name, and product_name, ensuring all products are listed

In [ ]:
SELECT o.order_id, c.customer_name, p.product_name
FROM products p
LEFT JOIN orders o ON p.product_id = o.product_id
LEFT JOIN customers c ON o.customer_id = c.customer_id;

Que 9: Total sales amount for each product

In [ ]:
SELECT p.product_name, SUM(o.amount) AS total_sales
FROM products p
INNER JOIN orders o ON p.product_id = o.product_id
GROUP BY p.product_name;

Que 10: Display order_id, customer_name, and quantity using INNER JOIN

In [ ]:
SELECT o.order_id, c.customer_name, od.quantity
FROM orders o
INNER JOIN customers c ON o.customer_id = c.customer_id
INNER JOIN order_details od ON o.order_id = od.order_id;

**SQL Commands**

Que 1: Identify the primary keys and foreign keys in Maven Movies DB. Discuss the differences

Ans:
Primary keys uniquely identify each row in a table, such as film_id in the film table or customer_id in the customer table. Foreign keys establish a link between the data in two tables, such as rental.customer_id referencing customer.customer_id. Primary keys enforce entity integrity, while foreign keys enforce referential integrity.

Que 2: List all details of actors

Ans:
SELECT * FROM actor;

Que 3: List all customer information from DB

Ans:
SELECT * FROM customer;

Que 4: List different countries

Ans:
SELECT DISTINCT country FROM country;

Que 5: Display all active customers

Ans:
SELECT * FROM customer WHERE active = 1;

Que 6: List of all rental IDs for customer with ID 1

Ans:
SELECT rental_id FROM rental WHERE customer_id = 1;

Que 7: Display all the films whose rental duration is greater than 5

Ans:
SELECT * FROM film WHERE rental_duration > 5;

Que 8: List the total number of films whose replacement cost is greater than $15 and less than $20

Ans:
SELECT COUNT(*) FROM film WHERE replacement_cost > 15 AND replacement_cost < 20;

Que 9: Display the count of unique first names of actors

Ans:
SELECT COUNT(DISTINCT first_name) FROM actor;

Que 10: Display the first 10 records from the customer table

Ans:
SELECT * FROM customer LIMIT 10;

Que 11: Display the first 3 records from the customer table whose first name starts with ‘b’

Ans:
SELECT * FROM customer WHERE first_name ILIKE 'b%' LIMIT 3;

Que 12: Display the names of the first 5 movies which are rated as ‘G’

Ans:
SELECT title FROM film WHERE rating = 'G' LIMIT 5;

Que 13: Find all customers whose first name starts with "a"

Ans:
SELECT * FROM customer WHERE first_name ILIKE 'a%';

Que 14: Find all customers whose first name ends with "a"

Ans:
SELECT * FROM customer WHERE first_name ILIKE '%a';

Que 15: Display the list of first 4 cities which start and end with ‘a’

Ans:
SELECT city FROM city WHERE city ILIKE 'a%a' LIMIT 4;

Que 16: Find all customers whose first name have "NI" in any position

Ans:
SELECT * FROM customer WHERE first_name ILIKE '%ni%';

Que 17: Find all customers whose first name have "r" in the second position

Ans:
SELECT * FROM customer WHERE first_name ILIKE '_r%';

Que 18: Find all customers whose first name starts with "a" and are at least 5 characters in length

Ans:
SELECT * FROM customer WHERE first_name ILIKE 'a%' AND LENGTH(first_name) >= 5;

Que 19: Find all customers whose first name starts with "a" and ends with "o"

Ans:
SELECT * FROM customer WHERE first_name ILIKE 'a%o';

Que 20: Get the films with pg and pg-13 rating using IN operator

Ans:
SELECT * FROM film WHERE rating IN ('PG', 'PG-13');

Que 21: Get the films with length between 50 to 100 using BETWEEN operator

Ans:
SELECT * FROM film WHERE length BETWEEN 50 AND 100;

Que 22: Get the top 50 actors using LIMIT operator

Ans:
SELECT * FROM actor LIMIT 50;

Que 23: Get the distinct film ids from inventory table

Ans:
SELECT DISTINCT film_id FROM inventory;

🔸 **Functions (Aggregate & String)**

Que 1: Retrieve the total number of rentals made in the Sakila database

Ans:
Iska purpose total rental transactions count karna hota hai. Yeh hume batata hai ki Sakila database me kitni baar rentals ki gayi hain, jisse business activity ka idea milta hai.

Que 2: Find the average rental duration (in days) of movies rented from the Sakila database

Ans:
Is query ka use rental_duration ka average nikalne ke liye hota hai. Isse pata chalta hai ki customers on average kitne dino tak movies rent pe le jaate hain.

Que 3: Display the first name and last name of customers in uppercase

Ans:
Iska use tab hota hai jab hume data ko uniform format mein dikhana hota hai, jaise UI display ke liye. Uppercase mein names consistent dikhte hain.

Que 4: Extract the month from the rental date and display it alongside the rental ID

Ans:
Rental date se month nikalne se humko seasonal ya monthly rental trends samajhne mein madad milti hai. Yeh business analysis ke liye kaafi useful hota hai.

🔸 **GROUP BY**

Que 5: Retrieve the count of rentals for each customer

Ans:
Yeh query batati hai ki har customer ne kitni baar rentals kiye. Isse hume customer activity aur engagement ka andaza hota hai.

Que 6: Find the total revenue generated by each store

Ans:
Is query se pata chalta hai ki har store ne kitna paisa kamaaya hai. Iska use business decision-making aur performance evaluation mein hota hai.

Que 7: Determine the total number of rentals for each category of movies

Ans:
Har movie category ke rental count se ye samajh aata hai ki kaunsi category zyada popular hai, jisse inventory aur marketing decisions mein help milti hai.

Que 8: Find the average rental rate of movies in each language

Ans:
Yeh query batati hai ki har language category mein average rental rate kya hai. Isse language-wise pricing trend samajhne mein madad milti hai.

🔸 **Joins**

Que 9: Display the title of the movie, customer’s first name, and last name who rented it

Ans:
Is query ka use rental records ke basis par customer aur film ke details jod kar batane ke liye hota hai — jaise kisne kaunsi movie rent ki.

Que 10: Retrieve the names of all actors who have appeared in the film "Gone with the Wind"

Ans:
Iska purpose ek specific film ke liye sabhi actors ke naam nikalna hota hai. Yeh film-actor relationship samajhne ke liye use hota hai.

Que 11: Retrieve the customer names along with the total amount they've spent on rentals

Ans:
Yeh query har customer ke total spending batati hai. Isse high-value customers identify kiye ja sakte hain for rewards ya targeting.

Que 12: List the titles of movies rented by each customer in a particular city (e.g., 'London')

Ans:
Is query se hum location-specific rental preferences samajh sakte hain, jo local promotions aur inventory planning mein help karta hai.